@model HRApplication.Models.Leave

@{
    ViewData["Title"] = "Create Countries";
}
<form asp-action="Delete" method="post">
    <div class="row">
        <div class="col-md-8 offset-2">
            <div class="form-group">
                <label asp-for="LeaveType">Leave Type</label>
                <input asp-for="LeaveType" class="form-control" />
                <span asp-validation-for="LeaveType"></span>
            </div>

            <div class="form-group">
                <label asp-for="NoOfDays">No of Days</label>
                <input asp-for="NoOfDays" class="form-control" />
                <span asp-validation-for="NoOfDays"></span>
            </div>

            <div class="form-group">
                <label asp-for="Status">Status</label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status"></span>
            </div>

        

            <div class="form-group">
                <button type="submit" asp-area="HR" asp-action="Delete" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>

</form>