@model EmployeeAttendence

@{
    ViewData["Title"] = "Details Page";
}

<table>
    <tr>
        <td> Check in Time </td
         <td> @Model.CheckinTime</td>
    </tr>

        <tr>
        <td> Check Out Time </td
         <td> @Model.CheckoutTime</td>
    </tr>

       
</table>